{% extends 'base.html.twig' %}
{% block section %}
    <section id="contact">
        <label><p>Envoyer un message</p></label>
        <input id="emailContact"
               type="email"
               placeholder="Email expéditeur">
        <input id="objet"
               type="text"
               placeholder="Objet">
        <div id="message"
             contenteditable="true"></div>
        <button id="sendButton">Envoyer</button>
    </section>
{% endblock %}