<section id="Contact" class="hide">
    <label><p>Envoyer un message</p></label>
    <input id="emailContact" type="email" placeholder="Email expéditeur">
    <input id="objet" type="text" placeholder="Objet">
    <div id="message" contenteditable="true"></div>
    <button id="sendButton">Envoyer</button>
</section>