/* Ordi Fenetre*/
@media screen and (min-device-width: 480px) and (max-width:1024px) {

	* { margin:0; padding:0; box-sizing:border-box; }
	/* -- en-tête*/
	header {
		text-align: center;
		font-family: Trebuchet MS;
		color: white;
		background: linear-gradient(135deg, rgba(134, 255, 148, 0.5) 0%, rgba(0,0,0,0.5) 74%);
		margin: auto;
		display: flex;
		height: 50%;
	}

	video{
		position: absolute;
		z-index: -100;
		top: 0;
		left: 0;
	}

	h1{
		margin: auto;
	}

	/* -- menu */
	
	
	nav {
		position: fixed;
		display: flex;
		background-color: #1b1b1b;
		height: 5%;
		width: 100%;
		left: 0px;
		top: 0px;
    }

	#container-icon-menu {
		display: flex;
		margin-right: 2px;
		color: #838383;
		width: 10%;
	}

	#container-icon-menu *{
		margin-top: auto;
		margin-bottom: auto;
		font-family: Arial;
		margin-right: 15%;
	}

	#menu {
		position: fixed;
		top: 0px;
		right: 0px;
		height: 100em;
		padding-left: 50px;
		padding-right: 50px;
		background-color: #111111;
	}

	#close-menu{
		position: fixed;
		top: 15px;
		right: 15px;
	}

	nav ul {
		margin-top: 40px;
	}

    nav li {
		color: white;
		display: flex;
		font-family: Arial;
		/*font-weight: bold;*/
		height: 40px;
        list-style: none;
		border-bottom: rgba(255,255,255,0.25) solid 1px;
		padding-left: 1em;
		padding-right: 1em;
    }

	nav li:last-of-type{
		border-bottom: 0;
	}

    nav li div {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .selected {
       color: #58d9ff;
    }
    nav div {
        margin: auto;
    }
	.hide {
		display: none !important;
	}

	#background-content{
		position: absolute;
		background: url(../image/fondLM.png) no-repeat center fixed;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardis�e */
		z-index: -100;
		padding: 5px;
	}

	#content{
		background: rgba(255,255,255,0.9);
		padding-top: 25px;
		padding-bottom: 25px;
	}

	/* -- Lettre de motivation */
	#LM article {
		margin: auto;
		margin-top: 1.5%;
		margin-bottom: 2.5%;
		overflow: auto;
		width: 70%;
		background: rgb(255, 255, 255);
		border-style: solid;
		border-width: 1px;
		border-color: #e0e0e0;
		font-family: Trebuchet MS;
		text-align: justify;
		padding: 3%;
		padding-bottom: 1%;
		border-radius: 7px;
	}
	#date {
		margin-right: 5%;
		margin-bottom: 8%;
		text-align: right;
	}
	#debutCorps {
		margin-top: 5%;
	}
	#corps {
		margin-top: 5%;
	}
	#pied {
		margin-top: 10%;
		margin-right: 5%;
		text-align: right;
	}
	.sans_espace {
		margin: 0px;
	}
	.sans_espace_top {
		margin-top: 0px;
	}

	/* -- CV ------------------------------------------------*/
	#CV {
        width: 75%;
        height: 35em;
        margin: auto;
        background-size: 9%;
        display: flex;
		margin-top: 10% ;
		margin-bottom: 10% ;
    }
    .titre_comp {
        display: flex;
        background: black;
        color: white;
        font-family: Arial;
        height: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .titre_comp div {
        margin: auto;
    }

    #CV ul {
        max-height: 75%;
        background: rgba(255, 255, 255, 0.86);
        margin-top: 0px;
        margin-bottom: 0px;
        overflow: auto;
    }
 	.section-cv {
		width: 20em;
        height: 100%;
        margin: auto;

	}

    .competence {
        font-family: Arial;
        font-weight: 700;
        list-style: none;
        margin-bottom: 5%;
        margin-left: 10%;
    }
    .categorie {
        text-decoration: underline;
        font-family: Arial;
        font-weight: bold;
        list-style: none;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .formation, .experience {
        font-family: Arial;
        font-weight: bold;
        list-style: none;
        margin-bottom: 20%;
    }
    .formation:last-child, .experience:last-child {
        margin-bottom: 0;
    }
    .commentaire {
        font-style: italic;
        font-weight: 800;
    }
    .diplome, .poste {
        text-decoration: underline;
    }
    .date {
        font-weight: normal;
    }
    #container-fleche-droite{
    	display: flex;
    	height: 30px;
    	margin: auto;
		margin-right: 0px;
    }

	#container-fleche-gauche{
		display: flex;
		height: 30px;
		margin: auto;
		margin-left: 0px;
	}

    #container-fleche-droite *, #container-fleche-gauche *{
    	margin:auto;
    }

	/*--Contact--*/

    #Contact{
		display: flex;
        flex-direction: column;
        background-color: #fff;
		width: 70%;
		height: 50%;
		margin: auto;
		border-radius: 20px;
		border: #cfd0c3 solid 1px;
	}



	#Contact *{
		width: 90%;
		margin: auto;
	}

	#message{

	}

	#message *{
		margin : 0 0 0 0;
		max-width: 90%;
	}

	#message {
		max-height: 100%;
		max-width: 100%;
		overflow: auto;
	}

	#Contact label{
		background-color: black;
		color: white;
		font-family: Arial;
		padding: 10px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		width: 100%;
	}

	#Contact label p{
		width: 90%;
	}

	#emailContact{
		border: 0;
	}

	#objet{
		border-width: 1px;
		border-left: 0;
		border-right: 0;
		border-top-color: #000;
		border-bottom-color: #000 ;
	}

	#Contact input{
		padding: 8px;
	}

	#sendButton{
		width: 15%;
		padding: 8px;
		background-color: #0072c2;
		color: white;
		border: 0;
		border-radius: 10px;
		margin-right: 0px;
	}

	#message{
		height: 500px;
		background-color: white;
		font-family: Arial;
	}

	footer {
		height: 2em;
	}
	footer ul {
		display: flex;
		width: 95%;
		margin: auto;
	}
	footer li {
		display: flex;
		height: 2em;
		width: 20%;
		border-radius: 19px;
		text-align:center;
		font-family: Arial;
		color: white;
		padding-left: 1%;
		padding-right: 1%;
		background: rgba(205, 205, 205, 0.6);
		box-shadow: 1px 1px 12px #a8ffbb;
		margin-left: 2.8%;
	}
	footer li div {
		margin: auto;
	}
	#Email {
		width: 38%;
	}
}