/* Smartphone*/

@media all and (max-device-width: 480px)
{
  html {
    margin: 0;
    padding: 0;

  }
  body {
    overflow-y: scroll;
  }
  section {
    margin: auto;
  }

  /* -- en-tête*/
  header {
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #de985a;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    background: url(../image/fondLM.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardis�e */
  }
  h1 {
    font-size: large;
  }

  .border_title {
    height: 0.2em;
    margin: auto;
    background: #de985a;
  }

  /* -- menu */


  nav {
    position: fixed;
    background: white;
    height: 100%;
    right: 0px;
    top: 0px;
  }

  #menu{
    display: none;
  }

  #container-icon-menu{
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 16px;
    background: grey;

  }

  nav ul {
    margin-top: 90px;
    width: 100%;
    padding-left: 0px;
  }

  nav li {
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial;
    font-weight: bold;
    display: flex;
    list-style: none;
    height: 40px;

  }


  nav li div {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .selected {
    background-color: #58d9ff;
  }
  nav div {
    margin: auto;
  }
  .hide {
    display: none !important;
  }

  /* -- Lettre de motivation */
  #LM article {
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    overflow: auto;
    width: 70%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 27px #555;
    font-family: Trebuchet MS;
    text-align: justify;
    padding: 3%;
    padding-bottom: 1%;
  }
  #date {
    margin-right: 5%;
    margin-bottom: 8%;
    text-align: right;
  }
  #debutCorps {
    margin-top: 5%;
  }
  #corps {
    margin-top: 5%;
  }
  #pied {
    margin-top: 10%;
    margin-right: 5%;
    text-align: right;
  }
  .sans_espace {
    margin: 0px;
  }
  .sans_espace_top {
    margin-top: 0px;
  }

  /* -- CV ------------------------------------------------*/
  #CV {
    width: 75%;
    height: 35em;
    margin: auto;
    background-size: 9%;
    display: flex;
    margin-top: 10% ;
    margin-bottom: 10% ;
  }
  .titre_comp {
    display: flex;
    background: black;
    color: white;
    font-family: Arial;
    height: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .titre_comp div {
    margin: auto;
  }

  #CV ul {
    max-height: 75%;
    background: rgba(255, 255, 255, 0.86);
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
  }
  .section-cv {
    width: 20em;
    height: 100%;
    margin: auto;

  }

  .Competence {
    font-family: Arial;
    font-weight: 700;
    list-style: none;
    margin-bottom: 5%;
    margin-left: 10%;
  }
  .categorie {
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    list-style: none;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .Formation, .Experience {
    font-family: Arial;
    font-weight: bold;
    list-style: none;
    margin-bottom: 20%;
  }
  .Formation:last-child, .Experience:last-child {
    margin-bottom: 0;
  }
  .commentaire {
    font-style: italic;
    font-weight: 800;
  }
  .diplome, .poste {
    text-decoration: underline;
  }
  .date {
    font-weight: normal;
  }
  #container-fleche-droite{
    display: flex;
    height: 30px;
    margin: auto;
    margin-right: 0px;
  }

  #container-fleche-gauche{
    display: flex;
    height: 30px;
    margin: auto;
    margin-left: 0px;
  }

  #container-fleche-droite *, #container-fleche-gauche *{
    margin:auto;
  }

  footer {
    height: 2em;
  }
  footer ul {
    display: flex;
    width: 95%;
    margin: auto;
  }
  footer li {
    display: flex;
    height: 2em;
    width: 20%;
    border-radius: 19px;
    text-align:center;
    font-family: Arial;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(205, 205, 205, 0.6);
    box-shadow: 1px 1px 12px #a8ffbb;
    margin-left: 2.8%;
  }
  footer li div {
    margin: auto;
  }
  #Email {
    width: 38%;
  }
}